
.App {
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  /* background: rgb(241, 242, 243); */
  color: rgb(172, 126, 75);
}

.nav-links{
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.navButtons {
  padding: 8px;
}

.navImage {
  height: 8vh;
  padding: 8px;
}
.navButtons:hover,
.navImage:hover {
  background-color: rgba(235, 239, 240, 0.651);
  border-radius: 8px;
}
.homeImage {
  height: 16vh;
  margin: 0px;
}

.tooltip{
  width: 100px;
 display: none; 
}

.tooltip-on-hover:hover + .tooltip { display: block; }

/* ---------------------------------------------------NAVBAR---------------------------------------------------- */

.restaurantContainer{
  display: flex;
  flex-direction: row; 
  flex-wrap: wrap;
  justify-content: space-around;
}
