
.App {
  text-align: center;
}

body {
  background-image: url('');
  background-color: rgb(238, 238, 240);
};


.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: rgb(241, 242, 243);
  color: rgb(202, 121, 66);
}

.nav-links{
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.navButtons {
  padding: 8px;
}

.navImage {
  height: 8vh;
  padding: 8px;
}
.navButtons:hover,
.navImage:hover {
  background-color: rgba(212, 198, 198, 0.534);
  border-radius: 6px;
}
.homeImage {
  height: 16vh;
  margin: 0px;
}

.tooltip{
  width: 100px;
 display: none; 
}

.tooltip-on-hover:hover + .tooltip { display: block; }

/* ---------------------------------------------------NAVBAR---------------------------------------------------- */

.restaurantContainer{
  display: flex;
  flex-direction: row; 
  flex-wrap: wrap;
  justify-content: space-around;
 
}

.dealContainer{
  display: flex;
  flex-direction: row; 
  flex-wrap: wrap;
  justify-content: spcace-evenly;
  
  
}




/* ---------------------------------------------------Containers---------------------------------------------------- */






/* ---------------------------------------------------Containers---------------------------------------------------- */


.mydealcard{
  
  display: flex;
  flex-direction: row; 
  flex-wrap: wrap;
  justify-content: space-around;
}



/* ---------------------------------------------------Cards---------------------------------------------------- */

