
.App {
  text-align: center;
}

body {
  background-image: url('');
  background-color: #cafbff44;
};

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: rgb(153, 183, 212);
  color: rgb(202, 121, 66);
}

.nav-links{
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  padding-left: 200px;
}

.navButtons {
  padding: 8px;
}

.navImage {
  height: 8vh;
  padding: 8px;
}
.navButtons:hover,
.navImage:hover {
  background-color: rgba(212, 198, 198, 0.534);
  border-radius: 6px;
}
.homeImage {
  height: 16vh;
  margin: 0px;
}

.tooltip{
  width: 100px;
 display: none; 
}

.tooltip-on-hover:hover + .tooltip { display: block; }

/* ---------------------------------------------------NAVBAR---------------------------------------------------- */


.dealContainer{
  display: flex;
  flex-direction: row; 
  flex-wrap: wrap;
  justify-content: spcace-evenly;
  
  
}




/* ---------------------------------------------------Containers---------------------------------------------------- */






/* ---------------------------------------------------Containers---------------------------------------------------- */

.mydealcard{
  display: flex;
  flex-direction: row; 
  flex-wrap: wrap;
  justify-content: space-around;
}

/* ---------------------------------------------------Cards---------------------------------------------------- */

.divcolumn{
 font-size: 20px;

}

.image-display img {
  width: 390px;
  height: 248px;
}

.deal-image img{
  width: 390px;
  height: 248px;
}
.ui.grid {
  min-height: 300px;
  max-height: 300px;
}


#searchBar {
  height:250px;
}

div{
  font-family: Monospace, Helvetica, sans-serif;
  font-size: 15px;
}

.description {
  font-family: Monospace, Helvetica, sans-serif
}

.hello {
  font-family: Helvetica;
  font-size: 20px;
}

.description{
  font-size: 15px;
  font-family:sCourier New
}


